.customSelectStylingError {
    border-color: var(--bs-form-invalid-border-color);
    &:hover {
        border-color: var(--bs-form-invalid-border-color);
    }
    &:active {
        border-color: var(--bs-form-invalid-border-color);
        box-shadow: 0 0 5px var(--bs-form-invalid-border-color);
    }
    &:focus-within {
        border-color: var(--bs-form-invalid-border-color);
        box-shadow: 0 0 5px var(--bs-form-invalid-border-color);
    }
}
