@import 'src/resources/styles/app';

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.75em;
    border-radius: 0.5em;
    border: 1px solid var(--bs-border-color);
    background-color: #fff;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.inputContainer {
    max-width: 200px;
}

.label {
    font-weight: bold;
    margin-bottom: 4px;
}

.itemButton {
    padding: 0.5em 1em;
    text-align: center;
    border: solid 1px #ddd;
    border-radius: 0.25em;
    cursor: pointer;
    i {
        margin-left: 8px;
        margin-bottom: -4px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.itemButtonSelectedGreen[data-selected='true'] {
    background-color: var(--bs-success-bg-subtle);
    border-color: var(--bs-green);
    i {
        color: var(--bs-green);
    }
}
.itemButtonSelectedNormal[data-selected='true'] {
    background-color: #ddd;
    border-color: #aaa;
}
.itemButtonSelectedRed[data-selected='true'] {
    background-color: var(--bs-danger-bg-subtle);
    border-color: var(--bs-red);
    i {
        color: var(--bs-red);
    }
}
