{
    "extends": ["prettier"],
    "plugins": ["prettier", "react-hooks", "jsx-a11y"],
    "rules": {
        "prettier/prettier": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "jsx-a11y/anchor-has-content": "error"
    }
}
