.customTable th {
    font-weight: bold;
}

.paginationContainer {
    display: flex;
    justify-content: space-between;
}

.detailRow {
    max-height: 200px;
    transition: all 0.3s;

    td {
        ul {
            list-style-type: none;

            li {
                overflow-wrap: anywhere;
            }
        }
    }
}

.hidden {
    max-height: 0;
    overflow: hidden;

    td {
        padding: 0;
        border: none;
    }
}

.showMore {
    cursor: pointer;
    color: #3754a5;
}

.detail {
    margin-top: 0.5rem;
}

.detail p {
    margin: 0;
    padding: 0.2em;
}

.logs {
    min-width: 712px;
}

.logsTable {
    min-width: 100%;
}

.dataCell {
    white-space: pre-wrap;

    text-overflow: ellipsis;
    overflow: hidden;
}

.header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
