@import 'src/resources/styles/app';

.closeIcon {
    color: red;
    margin-top: 5px;
}

.banIcon {
    color: red;
}

.checkIcon {
    color: $czertainly-blue;
    margin-top: 5px;
}

.infoIcon {
    color: $czertainly-blue;
}
