.groupConditionBadge {
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 6.25px !important;
}

.groupConditionBadge:hover {
    box-shadow: 0 0 5px #ebedee;
}

.groupConditionTitle {
    min-width: 80px;
    margin-top: 2px;
}

.groupConditionContainerDiv {
    margin-top: 12px;
    margin-bottom: 10px;
    display: flex;
}

.groupConditionBadgeOnly {
    max-width: 100%;
    white-space: normal;
    font-size: 10.25px;
    word-wrap: break-word;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: #6c757d !important;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
}
