@import 'src/resources/styles/app';

.menuLabel {
    margin-left: 10px;
}

.headerLink {
    a {
        display: flex;
        color: black;
        align-items: center;
        text-decoration: none;
        cursor: pointer;
        font-size: $font-size-small;
        margin: 5px 5px 5px 5px;

        &:hover,
        &:active,
        &:focus {
            font-weight: $font-weight-semi-bold;
            text-decoration: none;
        }
    }

    i {
        color: #ffffff;
    }

    > a {
        position: relative;
        padding: 0 15px;
        line-height: 35px;
        justify-content: space-between;

        &:hover {
            font-weight: $font-weight-bold;
            color: black;
            background-color: $czertainly-green-light;
            border-radius: 5px 5px 5px 5px;
            //background-image: linear-gradient(to right, $czertainly-green , $sidebar-bg-color);
        }

        img {
            width: 15px;
            margin-right: 15px;
        }
    }
}

.arrow {
    color: $gray-400;
    transition: 0.3s;
    right: 0;
}

.arrowActive {
    transform: rotate(-180deg);
}

.headerLinkActive {
    //border-right: 6px solid $czertainly-green-light;
    background-color: $czertainly-blue-light;
    border-radius: 5px 5px 5px 5px;

    span {
        color: black;
        font-weight: $font-weight-bold;
    }

    i {
        color: #ffffff;
    }
}

.panel {
    border-left: 6px solid $czertainly-green;
    //box-shadow: -6px 0px 10px -10px $czertainly-green inset;
    margin: 0;
    background: #fcfcfc;

    div {
        padding: 0;
    }

    ul {
        padding-left: 0;
        font-size: $font-size-small;

        li {
            //padding: 3px 0;
            list-style: none;
        }

        a {
            padding: 0 30px;

            &:hover,
            &:active,
            &:focus {
                font-weight: $font-weight-thin;
            }
        }
    }
}
