.groupConditionBadge {
    border: 1px solid rgb(78, 78, 78) !important;
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5.75px 5.75px;
}

.groupConditionBadge:hover {
    box-shadow: 0 0 5px #b5bdc5;
}

.groupConditionTitle {
    min-width: 80px;
}

.groupConditionContainerDiv {
    margin-top: 5px;
    display: flex;
}
