@import 'src/resources/styles/app';

.widget {
    display: block;
    position: relative;
    margin-bottom: 30px;
    padding: $widget-padding-y $widget-padding-x;
    background: $widget-bg;
    box-shadow: 0px 0px 10px 1px rgba(20, 115, 181, 0.2);
}

.title {
    margin-top: 0.3rem;
    margin-bottom: 1.5rem / 2;
    color: $widget-title-color;
    @include clearfix();
}

.refreshIcon {
    font-size: small;
    border: none;
    cursor: pointer;
    margin: auto;
    color: $czertainly-blue;
    transition: color 0.2s ease-in-out;
    background-color: transparent;
    &:hover,
    &:active,
    &:focus {
        color: #0056b3;
    }
}

.titleSmall {
    font-size: small;
}

.titleMedium {
    font-size: medium;
}

.titleLarge {
    font-size: large;
}

.titleXL {
    font-size: larger;
}
