@import '../../../resources/styles/app.scss';

.deleteButton {
    margin-left: 8px;
    padding: 4px 8px;
    background-color: #e6e6e6;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    min-width: 30px;
}

.deleteButton:hover {
    background-color: #dc3545;
    color: white;
}

.attributeWrapper {
    position: relative;
    display: flex;
    align-items: start;
}
.attributeContent {
    flex: 1;
}
