@import '/src/resources/styles/app';

.container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0.5rem 0;
}

.label {
    font-size: 1rem;
    font-weight: 500;
    color: $gray-600;
    user-select: none;
}
