.editCellBtn {
    padding: 0.3em 0.25em !important;
    line-height: 0;
}

.cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.btnGroup {
    display: flex;
    gap: 1em;
    align-items: center;
}

.editInput {
    padding: 10px;
    height: 1.75em;
    min-width: 170px;
}
