.groupConditionBadge {
    border: 1px solid rgb(78, 78, 78) !important;
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 6.25px !important;
}

.groupConditionBadge:hover {
    box-shadow: 0 0 5px #b5bdc5;
}

.groupConditionTitle {
    min-width: 80px;
    margin-top: 2px;
}

.groupConditionContainerDiv {
    margin-top: 12px;
    margin-bottom: 10px;
    display: flex;
}

.groupSmallerBadge {
    max-width: 100%;
    white-space: normal;
    font-size: 10.25px;
    word-wrap: break-word;
    flex-grow: 1; // Allow the item to grow to fill available space
    flex-shrink: 1; // Allow the item to shrink if necessary
    flex-basis: auto; //
    background-color: #6c757d !important;
    padding: 5px;
    color: white;
    border-radius: 10px;
    // border-radius: 5px;
}
