.customNodeBackground {
    position: relative;
    background-color: white;
    padding: 0.5rem;
    padding-bottom: 0.9rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    min-height: 55px;
    border-style: solid;
    border-color: #a5b4fc;
    border-width: 2px;
    text-align: left;
    z-index: 1;
    transition: width 0.3s ease-in-out; /* Smooth transition for width changes */
}

.iconStyle {
    font-size: xx-large;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    color: #2798e7;
}

.handleUp {
    opacity: 0;
}

.handleDown {
    opacity: 0;
}

.selectedBackground {
    background-color: #eee;
}

.customNodeCardTitle {
    color: var(--dark-gray-color);
    font-weight: 700;
    font-size: 18px;
}

.entityLabel a {
    color: var(--primary-blue-color);
    font-weight: 600;
}

.entityLabel > * {
    min-width: 0;
    flex-shrink: 1;
    word-wrap: break-word;
}

.listContainer {
    max-height: 150px;
    overflow: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #9ca3af #e5e7eb;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #9ca3af;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: #e5e7eb;
        border-radius: 4px;
    }
}

.mainNodeBody {
    border-width: 4px;
    // border-color: $czertainly-blue;
}

.expandButtonContainer {
    position: absolute;
    top: 0;
    right: -40px;
}

.nodeButton {
    border-radius: 10rem !important;
    width: 26px !important;
    height: 26px !important;
    padding: 0 !important;
    font-size: 10px !important;
}

.deleteButton {
    background-color: #e37582 !important;

    border: none !important;
    &:hover {
        background-color: #ef4444ec !important;
        border: none;
    }
    &:active {
        background-color: #ef4444d8 !important;
        border: none;
    }
}

.expiringStatus {
    color: #eab308;
    border-color: #eab308;
}

.expandButtonExpiring {
    background-color: #eab308a6 !important;
    border: none !important;
    &:hover {
        background-color: #eab308ec !important;
        border: none;
    }
    &:active {
        background-color: #eab308d8 !important;
        border: none;
    }
}

.expiredStatus {
    color: #ef4444 !important;
    border-color: #ef4444 !important;
}

.expandButtonExpired {
    background-color: #ef4444a4 !important;
    border: none !important;
    &:hover {
        background-color: #ef4444 !important;
        border: none;
    }
    &:active {
        background-color: #ef4444 !important;
        border: none;
    }
}

.validStatus,
.actionGroupNodeStatus {
    color: #15803d !important;
    border-color: #15803d !important;
    .certificate-icon {
        color: #15803d !important;
    }
}

.expandButtonValid,
.actionsGroupNodeExpandButton {
    background-color: #1ab3949f !important;
    border: none !important;
    &:hover {
        background-color: #1ab394ec !important;
        border: none;
    }
    &:active {
        background-color: #1ab394d8 !important;
        border: none;
    }
}

.invalidStatus {
    color: var(--color) !important;
    border-color: var(--color) !important;
    border-width: 2px;
}

.expandButtonInvalid {
    background-color: #131212a3 !important;
    border: none !important;
    &:hover {
        background-color: #131212ec !important;
        border: none;
    }
    &:active {
        background-color: #131212d8 !important;
        border: none;
    }
}

.notCheckedStatus,
.rulesGroupNodeStatus {
    color: #2798e7 !important;
    border-color: #2798e7 !important;
}

.expandButtonNotChecked,
.rulesGroupNodeExpandButton {
    background-color: #7fa2c1a1 !important;
    border: none !important;
    &:hover {
        background-color: #7fa2c1ec !important;
        border: none;
    }
    &:active {
        background-color: #7fa2c1d8 !important;
        border: none;
    }
}

.inactiveStatus {
    color: #6c757d !important;
    border-color: #6c757d !important;
}

.expandButtonInactive {
    background-color: #6c757da0 !important;
    border: none !important;
    &:hover {
        background-color: #6c757dec !important;
        border: none;
    }
    &:active {
        background-color: #6c757dd8 !important;
        border: none;
    }
}

.failedStatus {
    color: #9c0012 !important;
    border-color: #9c0012 !important;
}

.expandButtonFailed {
    background-color: #9c0012a2 !important;
    border: none !important;
    &:hover {
        background-color: #9c0012ec !important;
        border: none;
    }
    &:active {
        background-color: #9c0012d8 !important;
        border: none;
    }
}

.newStatus {
    color: #007bff !important;
    border-color: #007bff !important;
}

.expandButtonNew {
    background-color: #007bffb5 !important;
    border: none !important;
    &:hover {
        background-color: #007bffec !important;
        border: none;
    }
    &:active {
        background-color: #007bffec !important;
        border: none;
    }
}

.revokedStatus {
    color: #632828;
    border-color: #632828;
}

.expandButtonRevoked {
    background-color: #632828b7 !important;
    border: none !important;
    &:hover {
        background-color: #632828 !important;
        border: none;
    }
    &:active {
        background-color: #632828 !important;
        border: none;
    }
}

.unknownStatus {
    color: #a5b4fc;
    border-color: #a5b4fc;
}

.expandButtonUnknown {
    background-color: #a5b4fc !important;
    border: none !important;
    &:hover {
        background-color: #3754a5ec !important;
        border: none;
    }
    &:active {
        background-color: #3754a5d8 !important;
        border: none;
    }
}

.addButton {
    background-color: #a5b4fc !important;
    border: none !important;
    &:hover {
        background-color: #3754a5ec !important;
        border: none;
    }
    &:active {
        background-color: #3754a5d8 !important;
        border: none;
    }
}

.groupNode,
.hiddenStatus {
    width: 242.5px;
}

.addContentContainer {
    // position: absolute;
    // margin-left: 1rem;
    // margin: auto;
    background-color: white;
    padding: 0.5rem;
    padding-bottom: 0.9rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    min-height: 55px;
    // border-style: solid;
    // border-color: #A5B4FC;
    // border-width: 2px;
    text-align: left;
    z-index: 2;
}

.expandedNode {
    width: 600px;
}
