@import 'src/resources/styles/app';

.customNodeBackground {
    position: relative;
    background-color: white;
    padding: 0.5rem;
    padding-bottom: 0.9rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    min-height: 55px;
    border-style: solid;
    border-color: #3754a566;
    border-width: 2px;
    text-align: left;
    z-index: 1;
    box-shadow:
        2.25px 2.25px 0.75px -0.75px rgba(0, 0, 0, 0.15),
        1.5px 1.5px 0.75px 0px rgba(0, 0, 0, 0.105),
        0.75px 0.75px 2.25px 0px rgba(0, 0, 0, 0.09);

    transition: width 0.3s ease-in-out; /* Smooth transition for width changes */
}

.iconStyle {
    font-size: xx-large;
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    color: $brand-primary;
}

.handleUp {
    opacity: 0;
}

.handleDown {
    opacity: 0;
}

.selectedBackground {
    background-color: #eee;
}

.customNodeCardTitle {
    color: $gray-500;
    font-weight: bold;
    font-size: medium;
}

.entityLabel {
    font-weight: bold;
    color: $gray-600 !important;
    font-size: medium;
}

.listContainer {
    max-height: 150px;
    overflow: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: $gray-400 $gray-200;
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $gray-400;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: $gray-200;
        border-radius: 4px;
    }
}

.propertyName {
    font-weight: bold;
    color: $gray-500;
}

.propertyValue {
    font-weight: 500;
    color: $gray-600;
    word-wrap: break-word;
}
.mainNodeBody {
    border-width: 4px;
    // border-color: $czertainly-blue;
}

.expandButtonContainer {
    position: absolute;
    top: 0;
    right: -40px;
}

.nodeButton {
    border-radius: 10rem !important;
    width: 26px !important;
    height: 26px !important;
    padding: 0 !important;
    font-size: 10px !important;
}

.deleteButton {
    background-color: #e37582 !important;

    border: none !important;
    &:hover {
        background-color: #eb3349ec !important;
        border: none;
    }
    &:active {
        background-color: #eb3349d8 !important;
        border: none;
    }
}

.expiringStatus {
    color: #f37d63;
    border-color: #f37d63;
}

.expandButtonExpiring {
    background-color: #f37d63a6 !important;
    border: none !important;
    &:hover {
        background-color: #f37d63ec !important;
        border: none;
    }
    &:active {
        background-color: #f37d63d8 !important;
        border: none;
    }
}

.expiredStatus {
    color: #eb3349 !important;
    border-color: #eb3349 !important;
}

.expandButtonExpired {
    background-color: #eb3349a4 !important;
    border: none !important;
    &:hover {
        background-color: #eb3349 !important;
        border: none;
    }
    &:active {
        background-color: #eb3349 !important;
        border: none;
    }
}

.validStatus,
.actionGroupNodeStatus {
    color: #1ab394e1 !important;
    border-color: #1ab394e1 !important;
}

.expandButtonValid,
.actionsGroupNodeExpandButton {
    background-color: #1ab3949f !important;
    border: none !important;
    &:hover {
        background-color: #1ab394ec !important;
        border: none;
    }
    &:active {
        background-color: #1ab394d8 !important;
        border: none;
    }
}

.invalidStatus {
    color: #131212 !important;
    border-color: #131212 !important;
}

.expandButtonInvalid {
    background-color: #131212a3 !important;
    border: none !important;
    &:hover {
        background-color: #131212ec !important;
        border: none;
    }
    &:active {
        background-color: #131212d8 !important;
        border: none;
    }
}

.notCheckedStatus,
.rulesGroupNodeStatus {
    color: #7fa2c1 !important;
    border-color: #7fa2c1 !important;
}

.expandButtonNotChecked,
.rulesGroupNodeExpandButton {
    background-color: #7fa2c1a1 !important;
    border: none !important;
    &:hover {
        background-color: #7fa2c1ec !important;
        border: none;
    }
    &:active {
        background-color: #7fa2c1d8 !important;
        border: none;
    }
}

.inactiveStatus {
    color: #6c757d !important;
    border-color: #6c757d !important;
}

.expandButtonInactive {
    background-color: #6c757da0 !important;
    border: none !important;
    &:hover {
        background-color: #6c757dec !important;
        border: none;
    }
    &:active {
        background-color: #6c757dd8 !important;
        border: none;
    }
}

.failedStatus {
    color: #9c0012 !important;
    border-color: #9c0012 !important;
}

.expandButtonFailed {
    background-color: #9c0012a2 !important;
    border: none !important;
    &:hover {
        background-color: #9c0012ec !important;
        border: none;
    }
    &:active {
        background-color: #9c0012d8 !important;
        border: none;
    }
}

.newStatus {
    color: #007bff !important;
    border-color: #007bff !important;
}

.expandButtonNew {
    background-color: #007bffb5 !important;
    border: none !important;
    &:hover {
        background-color: #007bffec !important;
        border: none;
    }
    &:active {
        background-color: #007bffec !important;
        border: none;
    }
}

.revokedStatus {
    color: #632828;
    border-color: #632828;
}

.expandButtonRevoked {
    background-color: #632828b7 !important;
    border: none !important;
    &:hover {
        background-color: #632828 !important;
        border: none;
    }
    &:active {
        background-color: #632828 !important;
        border: none;
    }
}

.unknownStatus {
    color: #3754a566;
    border-color: #3754a566;
}

.expandButtonUnknown {
    background-color: #3754a566 !important;
    border: none !important;
    &:hover {
        background-color: #3754a5ec !important;
        border: none;
    }
    &:active {
        background-color: #3754a5d8 !important;
        border: none;
    }
}

.addButton {
    background-color: #3754a566 !important;
    border: none !important;
    &:hover {
        background-color: #3754a5ec !important;
        border: none;
    }
    &:active {
        background-color: #3754a5d8 !important;
        border: none;
    }
}

.groupNode,
.hiddenStatus {
    width: 242.5px;
}

.addContentContainer {
    // position: absolute;
    // margin-left: 1rem;
    // margin: auto;
    background-color: white;
    padding: 0.5rem;
    padding-bottom: 0.9rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    min-height: 55px;
    // border-style: solid;
    // border-color: #3754a566;
    // border-width: 2px;
    text-align: left;
    z-index: 2;
    // box-shadow:
    //     2.25px 2.25px 0.75px -0.75px rgba(0, 0, 0, 0.15),
    //     1.5px 1.5px 0.75px 0px rgba(0, 0, 0, 0.105),
    //     0.75px 0.75px 2.25px 0px rgba(0, 0, 0, 0.09);
}

.expandedNode {
    width: 600px;
}
