@import 'src/resources/styles/app';

.copyCustomContentButton {
    margin: 0.5rem;
    cursor: pointer;
    color: $gray-500;
    &:hover {
        color: $gray-600;
    }

    &:active {
        color: $gray-700;
    }
}
