:root {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #1f2937;

    --primary-blue-color: #2798e7;
    --header-height: 68px;
    --sidebar-width: 84px;
    --main-background-color: #f8fafc;
    --dark-gray-color: #1f2937;

    --status-success-color: #14b8a6;
    --status-danger-color: #ef4444;
    --status-warning-color: #eab308;
    --status-dark-color: var(--dark-gray-color);
    --status-light-gray-color: var(--gray-300);
    --status-gray-color: var(--gray-500);
    --status-info-color: #2798e7;
    --modal-footer-background-color: #f3f4f6;
}

@import 'tailwindcss';

@theme {
    --color-blue-50: #e6f4fd;
    --color-blue-100: #b3dffa;
    --color-blue-200: #80caf7;
    --color-blue-300: #4db5f4;
    --color-blue-400: #1aa0f1;
    --color-blue-500: #1a8bd4;
    --color-blue-600: #2798e7;
    --color-blue-700: #1e7bc7;
    --color-blue-800: #165ea7;
    --color-blue-900: #0d4187;
    --color-blue-950: #052467;
}

/* Source files to scan for Tailwind classes */
@source "../src";

/* Light mode by default, dark mode with .dark class */
@custom-variant dark (&:where(.dark, .dark *));

/* Preline UI */
@source "../node_modules/preline/dist/*.js";
@import '../node_modules/preline/variants.css';

/* Plugins */
@plugin "@tailwindcss/forms";

button {
    cursor: pointer;
}

table a {
    color: var(--primary-blue-color);
    font-weight: 600;
}

table .preline-badge {
    font-size: 10px;
}

.modal-footer {
    background-color: var(--modal-footer-background-color);
    width: calc(100% + 4rem);
    margin-left: -2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 0 0 1rem 1rem;
}
