@import '../../../styles/app';

.detailRow {
    max-height: 200px;
    transition: all 0.3s;

    td {
        ul {
            list-style-type: none;

            li {
                overflow-wrap: anywhere;
            }
        }
    }
}

.hidden {
    max-height: 0;
    overflow: hidden;

    td {
        padding: 0;
        border: none;
    }
}

.showMore {
    cursor: pointer;
    color: $czertainly-blue;
}

.kind {
    display: inline-block;
    padding-left: 2px;
}

.input {
    border: none;
    background-color: aliceblue;
}
