@import 'resources/styles/app';

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 0;
    gap: 1.25em;
}

.resources {
    width: 13em;
    min-width: 10em;
    overflow: auto;
}

.resources > div {
    padding: 0.5em;
    min-height: 3em;
    background-color: #eee;
    border-bottom: solid 1px #fff;
}

.resources > div[data-selected='true'] {
    background-color: #ddd;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.resources > div > sup {
    display: block;
    margin-top: 0.75em;
    line-height: 1em;
}

.permissions {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    flex-grow: 1;
    min-width: 0;
}

.permissionsInner {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 6px;
    margin: -6px;
    min-height: 0;
    overflow: auto;
}

.permissionsWidget {
    margin-bottom: 0;
}

.action {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    text-align: center;
}

.action > label {
    white-space: nowrap;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border: solid 1px #ddd;
    padding: 0.25em;
    border-radius: 0.25em;
    background-color: #eee;
}
