@import 'resources/styles/app';

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3em;
}

.resources {
    margin-bottom: 1em;
}

.resources > div {
    padding: 0.5em;
    width: 15em;
    height: 4em;
    background-color: #eee;
    border-bottom: solid 1px #fff;
}

.resources > div[data-selected='true'] {
    background-color: #ddd;
}

.resources > div > sup {
    display: block;
    margin-top: 0.75em;
    line-height: 1em;
}

.permissions {
    padding-left: 0.5em;
    flex: 2;
}

.action {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    text-align: center;
}

.action > label {
    white-space: nowrap;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border: solid 1px #ddd;
    padding: 0.25em;
    border-radius: 0.25em;
    background-color: #eee;
}
