@import 'resources/styles/app';

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    gap: 1.25em;
}

.resources {
    margin-bottom: 30px;
    width: 12em;
    flex-shrink: 0;
}

.resources > div {
    padding: 0.5em;
    min-height: 3em;
    background-color: #eee;
    border-bottom: solid 1px #fff;
}

.resources > div[data-selected='true'] {
    background-color: #ddd;
}

.resources > div > sup {
    display: block;
    margin-top: 0.75em;
    line-height: 1em;
}

.permissions {
    flex-grow: 1;
    min-width: 0;

    position: sticky;
    top: $navbar-height + 20px;
}

.permissionsWidget {
    margin-bottom: 1.25em;
}

.action {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
    text-align: center;
}

.action > label {
    white-space: nowrap;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border: solid 1px #ddd;
    padding: 0.25em;
    border-radius: 0.25em;
    background-color: #eee;
}
