.filterBadge {
    border: 1px solid rgb(78, 78, 78) !important;
    font-weight: 500;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 5px;

    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal !important;
    text-align: left !important;
}
